header{
  background-color: #12204D;
  min-height: 150px;
}

.css img{
 float: left;
 width: 7%;
 border-radius: 30%;
 padding: 10px;
 margin: 6px 10px 10px 0;
}
h1{
  text-align: center;
  color: #4298E894;
  padding-left: 30px;
  padding-top: 40px;
  font-family: Consolas;
}
h2{
  color: #4298E894;
  font-family: Baskerville;
  text-align: right;
  padding-right: 40px;
}

h3{
  font-size: 30px;
  font-family: Copperplate Gothic;
color: #1C7DD7CC;
}

h4{
  font-size: 19px;
  font-family: Copperplate Gothic;
color: #1C7DD7CC;
}

h5{
  font-size: 19px;
  font-family: Copperplate Gothic;
color: #1C7DD7CC;
}

h6{
  font-size: 30px;
  font-family: Copperplate Gothic;
color: #1C7DD7CC;
}
footer{
  color: #1C7DD7CC;
font-family: Baskerville;
  background-color: #12204D;
  min-height: 90px;
}


